### Position in Repeating Series Function


Function will be called ```position``` and it has 3 inputs.

This problem has 3 inputs:
- The first input, (n), is the maximum number in our series
- The second input, (r), is how many times our series will be repeated
- The third input, (p), is the position of the desired output.

Here are a few examples:

- If n = 3, and r = 1, then our series will be: 1,2,3,2,1

- If n = 4, and r = 1, then our series will be: 1,2,3,4,3,2,1

- If n = 3, and r = 2, then our series will be: 1,2,3,2,1,2,3,2,1

- If n = 4, and r = 2, then our series will be: 1,2,3,4,3,2,1,2,3,4,3,2,1

- If n = 5, and r = 3, then our series will be: 1,2,3,4,5,4,3,2,1,2,3,4,5,4,3,2,1,2,3,4,5,4,3,2,1

Now, what is the meaning of the third input? 

We want to know what's the value of the number in the position of p. The first number in the series is the first position. This is not the same as index! Indexing in Python starts at 0, and indexing in R starts at 1, so we want to make a standard that applies to both Python and R. 

#### Example 1

n = 3, r = 1, p = 4

The series is : 1, 2, 3, 2, 1

The 4th number of the series = suku ke - 4 dari barisan tersebut = 2.

Answer = 2.

#### Example 2

n = 3, r = 2, p = 7

The series is : 1, 2, 3, 2, 1, 2, 3, 2, 1

The 7th number of the series = suku ke - 7 dari barisan tersebut = 3.

Answer = 3.

#### Example 3

n = 4, r = 2, p = 7

The series is : 1, 2, 3, 4, 3, 2, 1, 2, 3, 4, 3, 2, 1

The 7th number of the series = suku ke - 7 dari barisan tersebut = 1.

Answer = 1.

In [1]:
def position(n, r, p):
        pos_list = []

        for i in range(r):
            skin = []
            backward = []
            for j in range(n):
                item = j + 1
                skin.append(item)
            
            backward = sorted(skin, reverse=True)
            
            if (len(pos_list) > 0):
                last = pos_list[-1]
                skin_first = skin[0]
                if (last == skin_first):
                    skin.pop(0)

            pos_list.extend(skin)
            
            last = pos_list[-1]
            reverse_first = backward[0]
            if (last == reverse_first):
                backward.pop(0)
            
            pos_list.extend(backward)

        return pos_list[p - 1]

In [2]:
n = 3
r = 1 
p = 4
position(n,r,p)

2

In [3]:
n = 3
r = 2
p = 7
position(n,r,p)

3

In [4]:
n = 4
r = 2
p = 7
position(n,r,p)

1