## Welcome to Coding Exercise 6

### Question 1. Points = 20 IF Answer is Correct, 30 IF Answer is Correct and your code consists of only 1 line.
### "Create Dictionary from 2 Lists"

Given two list/array/vector of the same length. Create a dictionary that maps the first list/array/vector as keys, and the second list/array/vector as values. Your function name should be called ```dictionary```. 

#### Example 1:

- keys = ['Sepuluh', 'Dua puluh', 'Tiga puluh']
- values = [10, 20, 30]

Your output should be a dictionary that looks like:
```{'Ten': 10, 'Twenty': 20, 'Thirty': 30}```

#### Example 2:

- keys = ['Phone', 'Tablet', 'Laptop']
- values = ['iPhone 11', 'iPad Mini', 'Macbook Pro']

Your output should be a dictionary that looks like: 
```{'Phone': 'iPhone 11', 'Tablet': 'iPad Mini', 'Laptop': 'Macbook Pro'}```

#### Challenge: Can you write this code with only 1 line? 

This problem can be solved without looping. To get full point, try to come up with a solution that solves the problem in just one line. What is a one-line solution? Look at the cell below to find out.

In [ ]:
### THIS IS AN EXAMPLE OF A MULTIPLE LINE SOLUTION ###

def penjumlahan(x,y,z):
    angka = [x,y,z]
    hasil = 0
    
    for i in angka:
        hasil = hasil + i
    
    return hasil


### THIS IS AN EXAMPLE OF A ONE-LINE SOLUTION ###

def penjumlahan(x,y,z):
    return x + y + z

### TRY TO SOLVE THIS PROBLEM WITH ONLY ONE LINE TO RECEIVE FULL SCORE ###

In [ ]:
def dictionary(keys, values):
  return dict(zip(keys,values))

In [ ]:
keys = ['Sepuluh', 'Dua puluh', 'Tiga puluh']
values = [10, 20, 30]
print(dictionary(keys,values))

{'Sepuluh': 10, 'Dua puluh': 20, 'Tiga puluh': 30}

In [ ]:
keys = ['Phone', 'Tablet', 'Laptop']
values = ['iPhone 11', 'iPad Mini', 'Macbook Pro']
print(dictionary(keys,values))

{'Phone': 'iPhone 11', 'Tablet': 'iPad Mini', 'Laptop': 'Macbook Pro'}

### Question 2. Points = 30

### "Fibonacci"

Fibonacci is a sequence in which the nth term is the addition of (n-1) and (n-2) term. 

Fibonacci adalah barisan dimana suku ke-n adalah penjumlahan dari suku ke-(n-1) dan suku ke-(n-2).

Your task is to guess the next fibonacci number after the input number, and tell us its position in the fibonacci series.

The fibonacci sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, ....


Your function name should be called `fibonacci`.

#### Example 1:

Input = 14

Fibonacci Sequence = 0, 1, 1, 2, 3, 5, 8, 13, 21, ....

The next fibonacci number after '14' is 21, and it is the 9th Fibonacci number. (The first fibonacci number is 0, the second fibonacci number is 1, the third fibonacci number is 1, the fourth fibonacci number is 2, etc).

So, the answer should be: 'Next Fibonacci number is 21, and it is the 9th Fibonacci number'.


#### Example 2:

Input = 60

Fibonacci Sequence = 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

Answer: 'Next Fibonacci number is 89, and it is the 12th Fibonacci number'.


#### Example 3:

Input = 55

Although 55 is a Fibonacci number, we should read the question again. Our task is to guess the NEXT Fibonacci number after our input number. So, the answer should be: 'Next Fibonacci number is 89, and it is the 12th Fibonacci number.'

In [1]:
from math import sqrt
from humanize import number

In [2]:
def fibonacci(n): 
  if (n < 0) :
    return "No Solution"
  if (n == 0) : 
    return f"Next Fibonacci number is {1} and it's 2nd Fibonacci number"
  if (n == 1) : 
    return f"Next Fibonacci number is {2} and it's 3rd Fibonacci number"

  n2 = 1
  n1 = 1
  pos = 4

  fibo = n2 + n1

  while (fibo <= n) :
    pos = pos + 1
    n2 = n1
    n1 = fibo
    fibo = n2+n1

  return f"Next fibonacci number is {fibo} and it's {number.ordinal(pos)} fibonacci number"

In [3]:
# Example 1
print(fibonacci(14))

Next fibonacci number is 21 and it's 9th fibonacci number

In [4]:
# Example 2
print(fibonacci(60))

Next fibonacci number is 89 and it's 12th fibonacci number

In [5]:
# Example 3
print(fibonacci(55))

Next fibonacci number is 89 and it's 12th fibonacci number

### Question 3. Points = 40

### "Scoring two Sets of Selection"

You will receive 3 inputs in this problem.
1. The first input will be all numbers in an list/array/vector. 
2. The second input will be distinct integers which are "APPROVED".
3. The third input will be distinct integers which are "NOT APPROVED".

Your function name should be `scoring`. 

Your function should read all numbers in the array:
- If a number belongs to the APPROVED list, your score is added by 1
- If a number belongs to the NOT APPROVED list, your score is reduced by 1
- If a number does not belong to both list, your score stays the same.

Your output will be the final score. 


#### Example 1:

Input = [1,1,1,5,5,2,3,10]

Approved = [1,3]

Not approved = [5]

- Starting score = 0
- There are 3 values of '1' in the input. '1' belongs to the APPROVED set. So the score is added by 3. Score = 3
- There are 2 values of '5' in the input. '5' belongs to the NOT APPROVED set. So the score is reduced by 2. Score = 1
- There are 1 value of '3' in the input. '3' belongs to the APPROVED set. So the score is added by 1. Score = 2.
- Final score = 2

Output = 2.


#### Example 2:

Input = [1,2,3,4,10,9,8,7]

Approved = [1,10,11]

Not approved = [8,5]

- Starting score = 0
- There are 1 value of '1' in the input. '1' belongs to the APPROVED set. So the score is added by 1. Score = 1
- There are 1 value of '10' in the input. '10' belongs to the APPROVED set. So the score is added by 1. Score = 2.
- In the approved set, we have the number '11'. But the number '11' is not in the input. So, we don't do anything about it.
- There are 1 value of '8' in the input. '8' belongs to the NOT APPROVED set. So the score is reduced by 1. Score = 1.
- In the not approved set, we haev the number '5'. But the number '5' is not in the input. So, we don't do anything about it.
- Final score = 1. 

Output = 1.

In [ ]:
import numpy as np

In [ ]:
def scoring(input_array, approved, not_approved):
        number_approved = [x for x in input_array if x in approved]
        number_not_approved = [y for y in input_array if y in not_approved]

        total_approved = len(number_approved)
        total_not_approved = len(number_not_approved)

        return total_approved - total_not_approved

In [ ]:
#Example 1
print(scoring( [1,1,1,5,5,2,3,10], [1,3], [5]))

2

In [ ]:
# Example 2
print(scoring( [1,2,3,4,10,9,8,7], [1,10,11], [8,5]))

1